<template>
  <div>
    <v-toolbar :flat="true">
      <v-toolbar-title
        ><h3>Oi, {{ name }}</h3></v-toolbar-title
      >
      <v-spacer></v-spacer>

      <v-btn
        v-if="role === 'admin'"
        to="/create/product"
        color="#b90b53"
        text
        class="btn-nav"
      >
        Cadastro
      </v-btn>

      <v-btn text color="#b90b53" to="/" class="btn-nav">
        Catálogo
      </v-btn>

      <v-btn @click="logout" text color="#b90b53" class="btn-nav">
        Sair
      </v-btn>
    </v-toolbar>
    <div v-if="erros.length">
      <v-alert
        style="margin-top:10px"
        v-for="(item, index) in erros"
        :key="index"
        type="warning"
      >
        {{ item }}
      </v-alert>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      role: "",
      erros: [],
    };
  },
  mounted() {
    this.getDataUser();
  },
  methods: {
    getDataUser() {
      let email = JSON.parse(sessionStorage.getItem("email"));
      this.$axios.defaults.headers.common["Authorization"] =
        "Bearer " + JSON.parse(sessionStorage.getItem("jwt"));

      let id = JSON.parse(sessionStorage.getItem("id"));

      this.$axios
        .get(`https://localhost:5001/api/v1/users/papel/${id}`)
        .then((e) => {
          let resultado = e.data;
          if (resultado.sucesso) {
            this.role = resultado.roleUser;
            this.name = resultado.name;
          } else {
            this.erros = [];
            this.erros = resultado.erros ? resultado.erros : [];
          }
        })
        .catch((e) => {
          this.tipoErro(e.response.status);
        });
    },
    logout() {
      sessionStorage.clear();
      this.$router.push("/login");
    },
    tipoErro(code = 500) {
      switch (code) {
        case 500:
          this.$toast.error("Erro no servidor");
          console.info("Excecao ao logar", e.message);
          break;

        case 401:
          this.logout();
          this.$toast.info("Você não esta autorizado");
          break;

        case 403:
          this.logout();
          this.$toast.info("Você não possui permissão, logue novamente");

          break;
      }
    },
  },
};
</script>

<style scoped>
h3 {
  color: #b90b53;
}

.btn-nav {
  margin: 30px;
}
</style>
