<template>
  <div>
    <Nav />
    <v-container>
      <v-col cols="auto">
        <div class="d-flex flex-no-wrap justify-space-between">
          <v-card class="mx-auto" color="#F8F8FF" max-width="900" height="550">
            <div class="content">
              <v-card-text>
                <h2>Novo Produto</h2>
                <form @submit.prevent="onUpload" enctype="multipart/form-data">
                  <v-row>
                    <v-col cols="6" md="4">
                      <v-text-field
                        style="margin-left:10px"
                        v-model="produto.nome"
                        label="Nome do produto"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4" md="2">
                      <v-text-field
                        v-model="priceProduto"
                        label="Preço"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-col md="6">
                    <v-text-field
                      v-model="produto.qtn"
                      label="Quantidade estoque"
                      required
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col md="6">
                    <v-text-field
                      v-model="produto.descricao"
                      label="Descrição(opcional)"
                    ></v-text-field>
                  </v-col>
                  <input
                    type="file"
                    @change="onFileSelected"
                    ref="myFileInput"
                    label="Select File..."
                  />
                </form>
              </v-card-text>
            </div>
            <v-avatar
              class="ma-3"
              size="350"
              style="float:right;padding-right:10px;position:relative;bottom:50%"
              tile
            >
              <v-img
                class="imgLogo"
                src="http://localhost:5000/defaultImgs/logo_cadastrando_img.png"
              ></v-img>
            </v-avatar>

            <main>
              <v-btn
                class="btnVue"
                @click="cadastrar"
                color="#91b90b"
                :loading="loading"
                dark
                >Salvar</v-btn
              >
            </main>
          </v-card>
          <div v-if="erros.length">
            <v-alert
              style="margin-top:10px"
              v-for="(item, index) in erros"
              :key="index"
              type="warning"
            >
              {{ item }}
            </v-alert>
          </div>
        </div>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/shared/_Nav";

export default {
  name: "CadastroProduct",
  components: {
    Nav,
  },
  data() {
    return {
      produto: {
        nome: "",
        price: 0.0,
        qtn: 0,
        descricao: "",
      },
      loading: false,
      priceProduto: 0,
      selectedFile: null,
      idUser: "",
      erros: [],
    };
  },
  watch: {
    priceProduto(newValue, oldValue) {
      let pro = newValue.toLocaleString(undefined, {
        maximumFractionDigits: 2,
      });
      let deci = pro.toLocaleString(undefined, { maximumFractionDigits: 2 });
      let resultado = String(deci).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      this.priceProduto = resultado;
    },
  },
  created() {
    this.getIdUser();
  },
  methods: {
    getIdUser() {
      this.idUser = JSON.parse(sessionStorage.getItem("id"));
      if (!this.idUser) {
        this.$router.push({
          path: `/`,
        });
        this.$toast.success("Não encontrado credenciais, logar novamente");
      }
    },

    onFileSelected(event) {
      this.selectedFile = event.target.files[0];
    },
    cadastrar() {
      this.erros = [];
      this.loading = true;
      let formData = new FormData();
      formData.append("Nome", this.produto.nome);
      formData.append("Preco", this.priceProduto);
      formData.append("QuantidadeEstoque", this.produto.qtn);
      formData.append("DescricaoProduto", this.produto.descricao);
      formData.append("arquivo", this.selectedFile);
      formData.append("IdUser", this.idUser);

      this.$axios
        .post(`https://localhost:5001/api/v1/prods/created`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          const query = response.data;
          if (query.sucesso) {
            this.$router.push({
              path: `/`,
            });
            this.$toast.success("Produto cadastrado");
          } else {
            this.erros = query.erros;
          }
        })
        .catch((e) => {
          this.$toast.error("Erro no servidor");

          console.log("Excecao cadastrar produto", e.message);
        })
        .finally(() => (this.loading = false));
    },
  },
};
</script>

<style scoped>
.btnVue {
  right: 50px;
  bottom: 0;
  position: absolute;
  margin: 0 0 16px 16px;
}

h2 {
  color: #91b90b;
}

@media (max-width: 900px) {
  .imgLogo {
    display: none;
  }
}
</style>
