<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="end" justify="end">
          <v-col md="8">
            <header class="marca">
              Bem vindo ao
              <h2>Cadastrando</h2>
            </header>
          </v-col>

          <v-col sm="4">
            <v-card class="elevation-12" style="position:relative">
              <v-toolbar text flat>
                <v-toolbar-title><h3>Faça seu cadastro</h3> </v-toolbar-title>

                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="E-mail"
                    name="email"
                    :rules="emailRules"
                    type="text"
                    v-model="email"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    label="Usuario"
                    name="Usuario"
                    type="Usuario"
                    v-model="Usuario"
                  ></v-text-field>

                  <v-select
                    :items="items"
                    label="Perfil"
                    v-model="item"
                    dense
                  ></v-select>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  style="margin:10px 0 10px 0"
                  color="#91B90B"
                  block
                  rounded
                  large
                  :loading="loadingBtn"
                  @click="cadastrar(email, password, Usuario, item)"
                  >Criar</v-btn
                >
              </v-card-actions>
              <p style="margin:5px" class="subheading font-weight-regular">
                Após cadastrado seus dados você pode acessar área para realizar
                login ,
                <router-link to="/login">aqui</router-link>
              </p>
            </v-card>
            <div v-if="erros.length">
              <v-alert
                style="margin-top:10px"
                v-for="(item, index) in erros"
                :key="index"
                type="warning"
              >
                {{ item }}
              </v-alert>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      Usuario: "",
      PerfilUser: "",
      loadingBtn: false,
      items: ["client", "admin"],
      item: "",
      erros: [],
      emailRules: [
        (v) => !!v || "E-mail é obrigatório",
        (v) => /.+@.+\..+/.test(v) || "E-mail deve ser válido",
      ],
    };
  },
  methods: {
    cadastrar(
      email = null,
      password = null,
      usuario = "nao_informado",
      perfilUser = "client"
    ) {
      this.erros = [];
      if (email && password) {
        this.loadingBtn = true;
        let _dados = {
          email,
          pass: password,
          usuario,
          perfilUser,
        };
        this.$axios
          .post(`https://localhost:5001/api/v1/users/created`, _dados)
          .then((e) => {
            let resultado = e.data;
            if (resultado.hasCreated) {
              this.erros = [];
              this.$toast.success("Usuario cadastrado");
            } else {
              this.erros = resultado.erros;
            }
          })
          .catch((e) => {
            this.$toast.error("Erro no servidor");
            console.info("Excecao ao cadastrar", e.message);
            this.loadingBtn = false;
          })
          .finally(() => ((this.loadingBtn = false), (this.password = "")));
      } else {
        this.$toast.info("favor, preencha o campo e-mail e senha ");
        return;
      }
    },
  },
};
</script>

<style scoped>
h3 {
  color: #91b90b;
}

.marca {
  float: left;
  font-size: 60px;
  color: #8a8580;
}

.marca h2 {
  color: #b90b53;
}
</style>
