<template>
  <div class="home">
    <Nav />
    <v-container>
      <!-- <v-row class="text-center"> -->
      <!-- <v-col> -->
      <v-text-field
        v-model="somente"
        label="Nome, Barra-Codigo, Id, Preco"
        required
      ></v-text-field>
      <v-row justify="center">
        <v-col class="mb-4">
          <v-pagination
            class="subheading mx-3"
            v-model="page_atual"
            :length="totalItemVisiveis"
          ></v-pagination>
        </v-col>
      </v-row>
      <v-row>
        <v-card
          class="mx-auto"
          max-width="344"
          v-for="(produto, index) in listagemProdutos"
          :key="index"
          outlined
          style="margin:10px"
          min-width="344"
        >
          <v-col cols="auto">
            <v-img
              height="200"
              width="200"
              :src="doc_image(produto.pathImage)"
            ></v-img>
          </v-col>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline">
                <h2>{{ produto.name }}</h2>
              </div>
              <v-list-item-title class="headline mb-1"
                ><h4>R$ {{ produto.price }}</h4></v-list-item-title
              >
              <v-list-item-subtitle>
                <b>Disponivel:{{ produto.quantity }}</b>
                <br />
                <b>Código:{{ produto.barCode }}</b>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <h4>{{ produto.describe }}</h4>
          </v-card-actions>
        </v-card>
      </v-row>
      <!-- </v-col> -->
      <v-overlay :value="loading">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/shared/_Nav";
export default {
  name: "Home",
  components: {
    Nav,
  },
  data() {
    return {
      listagemProdutos: [],
      loading: false,
      proximaPagina: 14,
      page_atual: 1,
      somente: "",
      perPage: 1,
      lastPage: 2,
      totalItemVisiveis: 1,
    };
  },
  watch: {
    page_atual: function(new_page) {
      this.listaProducts(this.somente, new_page);
      this.proximaPagina++;
    },
    somente: function(new_query) {
      this.listaProducts(new_query, this.page_atual);
    },
    $route(to, from) {
      this.listaProducts();
    },
  },
  mounted() {
    this.listaProducts();
  },
  methods: {
    listaProducts(busca = "", page = 1, done = () => {}) {
      if (!busca) {
        this.loading = true;
      }
      this.$axios
        .get(
          `https://localhost:5001/api/v1/produtos?page=${page}&somente=${busca}`
        )
        .then((e) => {
          let resultado = e.data;
          if (resultado) {
            this.erros = [];
            this.listagemProdutos = resultado.data;
            this.page_atual = resultado.metadado.pageNumber;
            this.lastPage = resultado.metadado.lastItemOnPage;
            this.totalItemVisiveis = resultado.metadado.pageCount;
          } else {
            this.erros = resultado.erros;
          }
        })
        .catch((e) => {
          this.tipoErro(e.response.status);

          this.loading = false;
        })
        .finally(() => ((this.loading = false), (this.password = "")));
    },
    doc_image: (path) => {
      if (
        ["png", "jpg", "jpeg", "bmp", "webp", "gif"].includes(
          path.split(".").pop()
        )
      ) {
        // Imagem
        return `https://localhost:5001${path}`;
      } else {
        return "https://bavariancarcare.com/wp-content/uploads/2019/12/image-placeholder-1200x800-1.jpg";
      }
    },
    tipoErro(code = 500) {
      switch (code) {
        case 500:
          this.$toast.error("Erro no servidor");
          console.info("Excecao ao logar", e.message);
          break;

        case 401:
          sessionStorage.clear();
          this.$toast.info("Você não esta autorizado");
          break;

        case 403:
          sessionStorage.clear();
          this.$toast.info("Você não possui permissão, logue novamente");

          break;
      }
    },
  },
};
</script>

<style scoped>
p {
  font: bolder;
  font-size: 16px;
}

h4 {
  color: #b90b53;
}
</style>
