<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="end" justify="end">
          <v-col md="8">
            <header class="marca">
              Bem vindo ao
              <h2>Cadastrando</h2>
            </header>
          </v-col>

          <v-col sm="4">
            <v-card class="elevation-12" style="position:relative">
              <v-toolbar text flat>
                <v-toolbar-title
                  ><h3>Faça seu login para entrar</h3>
                </v-toolbar-title>

                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="E-mail"
                    name="email"
                    type="text"
                    v-model="email"
                    :rules="emailRules"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  style="margin:10px 0 10px 0"
                  color="#91B90B"
                  block
                  rounded
                  large
                  dark
                  :loading="loadingBtn"
                  @click="logar(email, password)"
                  >logar</v-btn
                >
              </v-card-actions>
              <v-col cols="10" style="margin:auto">
                <p class="subheading font-weight-regular">
                  Não possui login ?? clique ,
                  <router-link to="/create/user">aqui </router-link>para
                  cria-lo.
                </p>
              </v-col>
            </v-card>
            <div v-if="erros.length">
              <v-alert
                style="margin-top:10px"
                v-for="(item, index) in erros"
                :key="index"
                type="warning"
              >
                {{ item }}
              </v-alert>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      loadingBtn: false,
      erros: [],
      emailRules: [
        (v) => !!v || "E-mail é obrigatório",
        (v) => /.+@.+\..+/.test(v) || "E-mail deve ser válido",
      ],
    };
  },
  methods: {
    logar(email = null, password = null) {
      this.erros = [];
      if (email && password) {
        this.loadingBtn = true;
        let _dados = {
          email,
          password,
        };
        this.$axios
          .post(`https://localhost:5001/api/v1/users/autenticar`, _dados)
          .then((e) => {
            let resultado = e.data;
            if (resultado.sucesso) {
              sessionStorage.setItem("email", JSON.stringify(email));
              sessionStorage.setItem("jwt", JSON.stringify(resultado.token));
              sessionStorage.setItem("id", JSON.stringify(resultado.id));
              if (sessionStorage.getItem("jwt") != null) {
                this.$emit("loggedIn");
                if (this.$route.params.nextUrl != null) {
                  this.$router.push(this.$route.params.nextUrl);
                } else {
                  this.$router.push("/");
                }
              }
            } else {
              this.erros = resultado.erros;
            }
          })
          .catch((e) => {
            this.$toast.error("Erro no servidor");
            console.info("Excecao ao logar", e.message);
          })
          .finally(() => ((this.loadingBtn = false), (this.password = "")));
      } else {
        this.$toast.info("favor, preencha o campo e-mail e senha ");
        return;
      }
    },
  },
};
</script>

<style scoped>
h3 {
  color: #91b90b;
}

.marca {
  float: left;
  font-size: 60px;
  color: #8a8580;
}

.marca h2 {
  color: #b90b53;
}
</style>
